<div class='container text-left m-5'>
  <h2> <%= @user.first_name %>'s Profile </h2>
</div>

  <div class='images-container'>
    <% @user.pictures.each do |picture| %>

        <a href="<%= picture.image.url %>" class='profile-image'>
        <figure>
          <%= image_tag picture.image.url(:square) %>
          <figcaption><p><%= picture.description %></p></figcaption>
        </figure>
    <% end %>
  </div>
