<div class='container text-center mt-3 mb-3'>
  <h3> Latest Pictures </h3>
</div>

<div class='images-container justify-content-center'>
  <% @pictures.reverse.each do |picture| %>
    <%= link_to(picture.image.url, title: "#{picture.user.username} - #{picture.description}") do%>
      <figure class='profile-image'>
        <%= image_tag picture.image.url(:square) %>
      </figure>
    <% end %>
  <% end %>
</div>
