// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-logo {
  background: image-url('platform.png');
  height: 25em;
  width: 40em;
  border: 1px solid;
};
